a {
    transition: 
    color 500ms linear,
    text-shadow 500ms linear; 
}

a:hover {
    color: var(--primary-colour);
    text-shadow: none;
}

details {
    width: 100vw;
}

h1 {
    padding: 1vh;
    display: block;
    background: repeating-linear-gradient(135deg,var(--primary-colour) 20%,white 21%);
    font-size: 6vh;
}

nav {
    margin: 1vh;
    background: linear-gradient(var(--secondary-colour), var(--tertiary-colour));
}

summary {
    font-size: 2em;
}

summary:hover {
    animation: summary-slide 1s ease-in-out infinite;
}

@keyframes summary-slide {
    0% {transform: translateX(0);}
    25% {transform: translateX(20vw);}
    50% {transform: translateX(0);}
    75% {transform: translateX(-20vw);}
    100% {transform: translateX(0);}
}

.index-contents {
    outline: var(--primary-colour) double 1vh;
    padding: 1vh;
}

.film-reel {
    outline: var(--primary-colour) double 1vh;
    border: var(--primary-colour) dashed 0.5vh;
    background-color: white;
}

.link-button {
    background-color: var(--primary-colour);
    transition: background-color 500ms linear;
}

.link-button:hover {
    background-color: var(--secondary-colour);
}