a {
    transition: 
    color 500ms linear,
    text-shadow 500ms linear; 
}

a:hover {
    color: var(--primary-colour);
    text-shadow: none;
}

h1 {
    padding: 1vh;
    display: block;
    background: repeating-linear-gradient(135deg,var(--primary-colour) 20%,white 21%);
    font-size: 6vh;
}

nav {
    margin: 1vh;
    background: linear-gradient(var(--secondary-colour), var(--tertiary-colour));
}

@keyframes summary-slide {
    0% {transform: translateX(0);}
    25% {transform: translateX(20vw);}
    50% {transform: translateX(0);}
    75% {transform: translateX(-20vw);}
    100% {transform: translateX(0);}
}

.index-contents {
    outline: var(--primary-colour) double 1vh;
    margin-top: 3em;
    padding: 1em;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    align-items: space-between;
}

.film-reel {
    outline: var(--primary-colour) double 1vh;
    border: var(--primary-colour) dashed 0.5vh;
    background-color: white;
}

.link-button {
    background-color: var(--primary-colour);
    transition: background-color 500ms linear;
    padding: 1em;
    width: 30vh;
}

.link-button:hover {
    background-color: var(--secondary-colour);
}