*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 2vh;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5vh 0.5vh 0.5vh var(--primary-colour);
    overflow: hidden;
    --primary-colour: black;
    --secondary-colour: darkgrey;
    --tertiary-colour: grey;
}

a {
    text-decoration: none;
}

body {
    background: var(--secondary-colour);
}

div:not(.canvas, 
.return-button, 
.circle,
.line, 
.rectangle,
.square) {
    outline: var(--primary-colour) solid 0.75vh;
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.absolute {
    position: absolute;
}

.canvas {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.flex-column {
    flex-flow: column;
}

.flex-row {
    flex-flow: row;
}

.return-button {
    background-color: var(--primary-colour);
    width: 100vw;
}